@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*

0 - 600PX       :Phone
601 - 900       :Tablet Portrait
901 - 1200px    :Tablet Landscape
1201 - 1800     :Current Normal stylings in use
1801+           :Big Desktop

$breakpoint  values
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF RESPONSIVE MANIPULATIONS:
BASE + TYPOGRAPHY + GENERAL LAYOUT > GENERAL LAYOUT + GRID >PAGE LAYOUT > COMPPONENTS

*/


//Desktop First Breakpoints
//1em = 16px in media queries only
@mixin respond($breakpoint){
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };  //600px
    }

    @if $breakpoint == phone-small {
        @media (max-width: 30em) { @content };  //400px
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}