/*

0 - 600PX       :Phone
601 - 900       :Tablet Portrait
901 - 1200px    :Tablet Landscape
1201 - 1800     :Current Normal stylings in use
1801+           :Big Desktop

$breakpoint  values
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF RESPONSIVE MANIPULATIONS:
BASE + TYPOGRAPHY + GENERAL LAYOUT > GENERAL LAYOUT + GRID >PAGE LAYOUT > COMPPONENTS

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #fff;
  box-sizing: border-box;
  padding: 3rem;
  font-size: 1.6rem; }

.container {
  border: 4px solid #818181;
  border-radius: 3px;
  margin: 0 5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.heading-1 {
  color: #373737; }

@keyframes moveInToRight {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInToLeft {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center; }

@media (max-width: 56.25em) {
  .u-center--res {
    text-align: center;
    display: block; } }

.u-margin-bottom-s {
  margin-bottom: 1.5rem; }

.u-margin-bottom-m {
  margin-bottom: 4rem; }

.u-margin-bottom-l {
  margin-bottom: 8rem; }

.register-form,
.login-form {
  position: relative;
  padding: 2rem; }
  .register-form__errors,
  .login-form__errors {
    color: #fff;
    background-color: rgba(250, 77, 77, 0.8);
    padding: 2rem;
    border-radius: 3px; }
  .register-form__label,
  .login-form__label {
    display: block;
    color: #333;
    font-size: 1.5rem;
    font-weight: 700; }
  .register-form__input,
  .login-form__input {
    display: block;
    font-size: inherit;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.2rem;
    border-radius: 3px;
    border: 1px solid rgba(153, 153, 153, 0.4); }
    .register-form__input::-webkit-input-placeholder,
    .login-form__input::-webkit-input-placeholder {
      color: #999; }
  .register-form__text,
  .login-form__text {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 2rem; }
    .register-form__text--link,
    .login-form__text--link {
      text-decoration: none;
      font-size: 1.3rem; }
      .register-form__text--link:link, .register-form__text--link:visited,
      .login-form__text--link:link,
      .login-form__text--link:visited {
        color: #5643fa; }
  .register-form__btn,
  .login-form__btn {
    color: #333;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 3px;
    border: 1px solid rgba(153, 153, 153, 0.4);
    padding: 1rem 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase; }

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 10rem;
  font-weight: 700;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }
  .btn--white {
    color: #4c4c4c;
    background-color: #fff; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    color: #fff;
    background-color: #28b485; }
    .btn--green::after {
      background-color: #28b485; }
  .btn:focus {
    outline: none; }
  .btn--flash-fx::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    transition: all .1s; }
  .btn--flash-fx:hover::after {
    opacity: 0;
    transform: translateY(-0.3rem);
    transform: scaleX(1.4) scaleY(2); }
  .btn--moveup {
    animation: moveUp .6s ease-out .4s;
    animation-fill-mode: backwards; }

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  padding: .4rem .8rem;
  border-bottom: 1px solid #55c57a;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.3); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem;
      margin: 0; } }
  .row:not(:last-child) {
    margin-bottom: 8em; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4)  + (2 * 6rem)); }
